[Desktop Entry]
Type=Application
Name=Vigilant
Comment=Manage startup apps and systemd services
Exec=vigilant
Icon=vigilant
Terminal=false
Categories=System;Settings;
Keywords=startup;autostart;systemd;boot;
StartupNotify=true
